$main-BG:#EAF2F5;
$sub-BG: rgba(108,118,121,0.6);
$main-white: #fefefe;
$main-black: #181818;
$main-gray: #DAE7EC;
$main-dark-gray: #6C7579;

$main-blue: #61B0E3;

$main-yellow: #FFB448;
$heart-color: tomato;