$border-radius-small: 5px;
$border-radius: 10px;


#root, body, html {
  height: 100%;
}

#root{
  display: flex;
  flex-direction: column;
}

.wrap{
  width: 800px;
  margin: 0 auto;
  padding: 16px;
}
header>div.wrap{
  padding-bottom: 0;
}
.top-header{
  padding-bottom: 16px;
}
.flex{
  display: flex;
}
.grid{
  display: grid;
}
.bold{
  font-weight: bold;
}

//로고 디자인
.logo-title button{
  text-transform: uppercase;
}

// 헤더 (height: 16+16+16+3rem+4rem)

header{
  position: fixed;
  width: 100%;

}

.top-header{
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  // 검색 바


  // 드롭다운 메뉴
  .list-dropdown{
    margin-left: 20px;
    position: fixed;
    top: calc(3rem + 20px);
    display: flex;
    flex-direction: column;
    width: 140px;
    border-radius: $border-radius;
    .item-dropdown:not(.info-coin){
      height: 40px;
      line-height: 40px;
    }
    .item-dropdown.info-coin{
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .title-coin{
        font-size: 0.9rem;
      }
      .coin{
        font-size: 1.2rem;
      }
    }
    .item-dropdown{
      text-align: center;
    }
  }
}
.bottom-header{
  height: 4rem;
  .list-genre{
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    .item-genre{
      height: 100%;
      width: 120px;
      text-align: center;
      line-height: 4rem;
      font-size: 1.2rem;
    }
  }
}


// 장르


// 메인
main{
  flex-grow: 1;
}
.main-index{
  padding-top: calc(32px + 3rem + 4rem);
}

// 인덱스-웹툰
.list-webtoon{
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
  justify-items: center;
  .webtoon-title{
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .thumbnail{
    width: 100px;
    height: 130px;
    border-radius: $border-radius;
  }
  .item-webtoon button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bottom{
  padding-top: 16px;
}
.categories{
  line-height: 2rem;
  h3{
    font-size: 1.1rem;
    padding-left: 14px;
    padding-right: 14px;
  }
  .item-category{
    padding-left: 10px;
    padding-right: 10px;
    height: 2rem;
    line-height: 2rem;
    border-radius: $border-radius-small;
  }
  .active-category{
    padding-left: 12px;
    padding-right: 12px;
    button{
      font-weight: bold !important;
    }
  }
}


// 푸터
footer{
  text-align: center;
}