@import "color";
$border-radius-small: 5px;
$border-radius-mid: 7px;
$border-radius: 10px;
// 배경색



#root, body, html{
  background: $main-BG;
}
.BG-gray{
  position: fixed;
  top: 0;
  z-index: 3;
  background: $sub-BG;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.wrap:not(footer), header, .list-dropdown, .viewer,
.modal-pay-coin, .first-notice, .modal-need-login,
i.fa-camera-retro{
  background: $main-white;
}
.active-category{
  background: $main-blue;
  button, span{
    color: $main-white !important;
  }
}
.write-comment button, .btn-charge-coin, .btn-charge-more,
.btn-new-episode, .btn-submit-login, .btn-join,
.btn-set-profile, .btn-save-profile:not(:disabled),
.container-webtoons button{
  background: $main-blue;
  color: $main-white;
}
// 글씨색
.coin, .item-category>button>span,
.top-info button, {
  color: $main-blue;
}
.episode-date, .viewer-episode-info span:nth-child(2),
.fa-regular.fa-heart, .date-comment, .hearts span,
.record-date, .my-webtoon-date,.section-my-info button~div,
i.fa-camera-retro, .input-nickname-desc{
  color: $main-dark-gray;
}

.fa-circle-xmark{
  color: $main-gray;
}

.rating-average i,  .coin-icon{
  color: $main-yellow;
}
.fa-solid.fa-heart, .hearts .red, .login-fail{
  color: $heart-color;
}

.selected-register-genre button{
  color: $main-blue;
  font-weight: bold;
}


// 보더
.item-genre.genre-active,{
  border-bottom: 2px solid $main-blue;
}
.list-dropdown{
  border: 1px solid $main-gray;
}
.item-dropdown:not(:last-child),.total-episode-count{
  border-bottom: 1px solid $main-gray;
}
.item-category{
  border: 1px solid $main-blue;
}
.search-form{
  label{
    border: 2px solid $main-gray;
  }
}
.search-form.on-search{
  label{
    border: 2px solid $main-blue;
  }
}

.btn-go-home, .btn-edit-webtoon, .btn-delete-webtoon,
.selected-register-genre, i.fa-camera-retro, .set-nickname-label.inserting,
.input-episode-title:focus{
  border: 2px solid $main-blue;
}
.bottom-info-right div:first-child{
  border-right: 1px solid $main-gray;
}
.write-comment{
  border-bottom: 1px solid $main-gray;
}
.item-comment:not(:last-child){
  border-bottom: 1px solid $main-gray;
}
.item-tab-info.tab{
  border-bottom: 2px solid $main-blue;
}
.btn-cancel-join, .btn-disable-account, .upload-thumbnail.unselected,
.item-genre-register:not(.selected-register-genre),
.set-nickname-label,.input-episode-title{
  border: 2px solid $main-gray;
}
.login-form input, .join-form input, .register-webtoon input{
  border: 2px solid $main-gray;
  &:focus{
    border: 2px solid $main-blue;
  }
}
.wrap-my-info div span:first-child{
  background: $main-BG;
}
.wrap-my-info div span:last-child{
  border-bottom: 1px solid $main-gray;
}

// hovers
.item-webtoon:hover{
  background: $main-BG;
  button{
    font-weight: bold;
    color: $main-blue;
  }
}
// 모달(임시)

.modal-pay-coin, .first-notice,
.modal-need-login{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 350px;
  height: 10rem;
  text-align: center;
  border-radius: $border-radius-small;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  h3{
    font-size: 1.3rem;
  }
  .buttons-notice{
    background: $main-blue;
    color: white;
  }
  button{
    width: 100px;
    height: 38px;
    border-radius: $border-radius-small;
  }
}
.buttons-pay, .buttons-login, .buttons-submit-webtoon,
.buttons-submit-episode{
  justify-content: center;
  gap: 10px;
  button:first-child{
    border: 2px solid $main-BG;
  }
  button:last-child{
    background: $main-blue;
    color: white;
  }
}
// 급하게 추가 ㅠㅠ
.list-pay-buttons{
  gap: 10px;
  button{
    border-radius: $border-radius-small;
    width: 3rem;
    border: 2px solid $main-gray;
    height: 2rem;
  }
  button.btn-pay-checked{
    background: $main-blue;
    color: $main-white;
    font-weight: bold;
    border: none;
  }
}